body {
    padding-top: 50px;
}

.starter-template {
    padding: 40px 15px;
    /*text-align: center;*/
}

.errors-box {
    background-color: #FFCCBA;
    color: #FF0000;
    padding: 15px;
    border-radius: 20px;
}